@page
@model CrudSundayTst.Pages_Studentss.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student?.Id"class="fas fa-arrow-left" >Edit</a> |
      <a asp-page="./Index" class="btn btn-danger">
                        <i class="fas fa-arrow-left"></i> Voltar</a>
</div>
